{% extends "layout.html" %}

{% block body %}
  <h2>Osapuolet</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nimi</th>
        <th scope="col">Y-tunnus</th>
        <th></th>
      </tr>
  </thead>
    {% for party in parties %}
    <tr>
      <td class="align-middle">{{ party.name }}</td>
      <td class="align-middle">{{ party.business_id }}</td>
      <td class="align-middle">
        <a href="{{ url_for('parties_view', party_id=party.id) }}" class="btn btn-primary">Näytä osapuolen tiedot</a>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}