{% extends "layout.html" %}

{% block body %}
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Tervetuloa Sopimus&shy;kantaan!</h1>
      Sopimuskantaan voi tallentaa tietoja sopimuksista sekä niiden osapuolista. Voit lisätä myös sopimuksiin liittyviä muistutuksia.
    </div>
  </div>

  {% if not current_user.is_authenticated %}
  <div class="alert alert-info" role="alert">
    Jotta voisit käyttää sopimuskannan kaikkia ominaisuuksia, sinun on ensin <a href="{{ url_for('auth_login') }}" class="alert-link">kirjauduttava sisään</a>.
  </div>
  {% elif not active_reminders %}
  <div class="alert alert-success" role="alert">
    Sinulla ei ole toimenpiteitä vaativia muistutuksia. Tarkista <a href="{{ url_for('reminders_index') }}" class="alert-link">kaikki muistutuksesi</a>.
  </div>
  {% else %}
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Toimenpiteitä vaativat muistutuksesi</h4>
    <ul>
      {% for reminder in active_reminders %}
      <li>{{ reminder.note }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Sopimukset</h2>
        <p>Sopimukset-osiossa voit selata sopimuksia ja niiden tietoja. Yksittäisen sopimuksen tiedoissa näet myös sopimukseen liittyvät osapuolet ja muistutukset.</p>
        <p><a class="btn btn-secondary" href="{{ url_for('contracts_index') }}" role="button">Listaa sopimukset &raquo;</a></p>
        <p><a class="btn btn-secondary" href="{{ url_for('contracts_new') }}" role="button">Lisää uusi sopimus &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Osapuolet</h2>
        <p>Osapuolet-osiossa voit selata sopimusten osapuolia, kuten asiakkaita ja toimittajia. Voit lisäksi merkitä osapuolen olevan konkurssissa, jolloin käyttäjille, joiden sopimuksissa kyseinen osapuoli on mukana, lähetetään automaattinen muistutus.</p>
        <p><a class="btn btn-secondary" href="{{ url_for('parties_index') }}" role="button">Listaa osapuolet &raquo;</a></p>
        <p><a class="btn btn-secondary" href="{{ url_for('parties_new') }}" role="button">Lisää uusi osapuoli &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Muistutukset</h2>
        <p>Muistutukset-osiossa voit tarkastella ja hallita omia muistutuksiasi. Ylläpitäjät voivat hallita kaikkien käyttäjien muistutuksia.</p>
        <p><a class="btn btn-secondary" href="{{ url_for('reminders_index') }}" role="button">Muistutuksiin &raquo;</a></p>
      </div>
    </div>

  </div>

{% endblock %}
