{% extends "layout.html" %}

{% block body %}
  <h2>Sopimukset</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Sopimuksen nimi</th>
        <th scope="col">Allekirjoitettu</th>
        <th scope="col"></th>
      </tr>
    </thead>
    {% for contract in contracts %}
    <tr>
      <td class="align-middle">{{ contract.name }}</td>
      <td class="align-middle">{{ contract.date_signed.strftime("%-d.%-m.%Y") }}</td>
      <td class="align-middle">
        <a href="{{ url_for('contracts_view', contract_id=contract.id) }}" class="btn btn-primary">Näytä sopimuksen tiedot</a>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}