{% extends "layout.html" %}
  
{% block body %}
{% if action == "edit" %}
  <h2>Muokkaa sopimusta</h2>
{% else %}
  <h2>Lisää sopimus</h2>
{% endif %}

{% if action == "edit" %}
<form method="POST" action="/contracts/update/{{ contract_id }}/">
{% else %}
<form method="POST" action="{{ url_for('contracts_create') }}">
{% endif %}
  <table>
    <tr>
      <td>
        {{ form.name.label }}
      </td>
      <td>
        {{ form.name }}
      </td>
      <td>
        <ul>
          {% for error in form.name.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.date_signed.label }}
      </td>
      <td>
        {{ form.date_signed }}
      </td>
      <td>
        <ul>
          {% for error in form.date_signed.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.date_entry.label }}
      </td>
      <td>
        {{ form.date_entry }}
      </td>
      <td>
        <ul>
          {% for error in form.date_entry.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.date_expiry.label }}
      </td>
      <td>
        {{ form.date_expiry }}
      </td>
      <td>
        <ul>
          {% for error in form.date_expiry.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        {% if action == "edit" %}
          <input type="submit" value="Tallenna"/> <input type="reset" value="Palauta muutokset"/>
        {% else %}
          <input type="submit" value="Lisää"/>
        {% endif %}
      </td>
      <td></td>
    </tr>
  </table>
</form>
{% endblock %}
