{% extends "layout.html" %}

{% block body %}
  <h2>Käyttäjät <a href="{{ url_for('users_new') }}" class="btn btn-secondary ml-3" role="button">Uusi &raquo;</a></h2>

  <table class="table table-striped table-borderless" data-toggle="table" data-pagination="true" data-locale="fi-FI">
    <thead>
      <tr>
        <th scope="col">Tunnus</th>
        <th scope="col">Nimi</th>
        <th scope="col">Sopimuksia</th>
        <th></th>
      </tr>
  </thead>
    {% for user in users|sort(attribute='username') %}
    <tr>
      <td class="align-middle">
        {{ user.username }}
        {% if user.user_role == "ADMIN" %}
        <img src="/static/pics/admin_black.png" alt="Käyttäjä on ylläpitäjä" style="height: 1em" />
        {% endif %}
      </td>
      <td class="align-middle">{{ user.name }}</td>
      <td class="align-middle">{{ user.contracts_count }}</td>
      <td class="align-middle">
        <a href="{{ url_for('users_edit_form', user_id=user.id) }}"><img src="/static/pics/edit_black.png" alt="Muokkaa käyttäjää" style="height: 1.5em" /></a>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}